[submodule "external/freeglut"]
	path = external/freeglut
	url = https://github.com/FreeGLUTProject/freeglut.git
[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
